body{
    background-color:  #2A363B;
}

input,select,button{
    background-color: #FECEA8;
    color: #2A363B;
    border-radius: 20px;
    margin-top:10px;
    width: 200px;
}

input:hover,button:hover{
    background-color: #FF847C;
}

Form,a{
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2,h1,h3{
    margin: auto;
    color: #FF847C;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.homeContainer{
    display: flex;
    /* background-color: aliceblue; */
    height: 1000px;
}

.homeWidget{
    width:70%;
    height: auto;
    /* background-color: aquamarine; */
    margin: 50px;
}
